.contain{width: 500px;}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.groupComment{padding-top: 20px;}

.groupItim {display: block;}

#parent, .messList{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #5b5b5b;
    text-align: right;
}
.item{
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5b5b5b;
    padding: 20px 0 15px 15px;
    color: #5b5b5b;
    font-size: 16px;
}

.itemComment{
    margin-top: 15px;
    border: 1px dashed #8b8b8b;
    border-radius: 7px;
}

#messageList{display: inline-block;}

#messageList li{
    list-style: none;
    clear: both;
    display: none;
}

#messageList div{
    float: left;
    max-width: 400px;
    min-width: 100px;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    background:aquamarine;
    padding: 5px;
    margin-bottom: 10px;
}

ul, p{margin: 0;}

.message-user{
    top:5px;
    font-size: 14px;
    color: blue;
    font-weight: 700;
}

.message-comment{
    max-height: 90px;
    overflow-y: scroll;
    padding: 15px 5px 5px;
}

.button{
    margin-top: 5px;
}

.pagination-pages{
    text-align: center;
}

.pagination-pages > span{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px 8px;
}

.pagination-pages_active{
    color: red;
    border: 1px solid #5b5b5b;
    border-radius: 3px;
}

